h3 {
    color:white; 
    font-size:60px; 
    text-shadow: 5px 5px 5px #333; 
}

.carousel_Item{
    padding:60px;
}

.carousel_text{
    background-color: rgba(0,0,0,0.5);
    max-width:50%;
    padding:30px;
}

.carousel_Item p{
    color:white;
    text-shadow: 5px 5px 5px #333; 
    font-size:20px;
}


#top-rated{
    padding:50px;
}

#actors-list{
    display:flex;
}

#actors-list img{
    max-width:76px;
}